@use '../../../styles/abstracts/vars' as v;

.formContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
	}

	textarea {
		font-family: var(--font-mono);
		width: 100%;
	}
}

.metaContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;

	input {
		padding: 0.5rem;
		width: 100%;
	}

	input[type='checkbox'] {
		align-self: center;
		justify-self: start;
		width: unset;
	}

	@media only screen and (min-width: v.$screen-sm) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
