.formContainer {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;
	}

	textarea {
		font-family: var(--font-mono);
		width: 100%;
	}
}

.metaContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;

	div {
		display: grid;
		grid-template-columns: auto 75%;
		gap: 1rem;
	}

	input {
		padding: 0.5rem;
		width: 100%;
	}
}
