@import '../../../styles/prelude';

.button {
	align-items: center;
	border-radius: 0.6rem;
	cursor: default;
	display: inline-flex;
	font-family: var(--font-display);
	font-weight: 700;
	justify-content: center;
	line-height: 1.1;
	min-height: var(--min-target);
	min-width: var(--min-target);
	padding: 1rem 1.5rem;
	text-decoration: none;
	transition: 220ms all ease-in-out;

	&--small {
		font-size: 1.15rem;
	}

	&--block {
		width: 100%;
	}
}

.button.primary {
	background-color: var(--color-primary);
	color: var(--color-on-primary);

	&:hover,
	&:active {
		background-color: scale-color($color: $color-primary, $lightness: -20%);
	}
}

.button.secondary {
	background-color: var(--color-secondary);
	color: var(--color-on-secondary);

	&:hover,
	&:active {
		background-color: scale-color($color: $color-secondary, $lightness: -20%);
	}
}

.button.tertiary {
	background-color: var(--color-tertiary);
	color: var(--color-on-tertiary);

	&:hover,
	&:active {
		background-color: scale-color($color: $color-tertiary, $lightness: -20%);
	}
}

.button.danger {
	background-color: var(--color-error);
	color: var(--color-on-error);

	&:hover,
	&:active {
		background-color: scale-color($color: $color-error, $lightness: -20%);
	}
}