@use './vars' as *;

:root {
	--color-background: #{$color-background};
	--color-on-background: #{$color-on-background};
	
	--color-surface: #{$color-surface};
	--color-on-surface: #{$color-on-surface};
	--color-surface-variant: #{$color-surface-variant};
	--color-on-surface-variant: #{$color-on-surface-variant};
	
	--color-outline: #{$color-outline};
	
	--color-primary: #{$color-primary};
	--color-on-primary: #{$color-on-primary};
	--color-primary-container: #{$color-primary-container};
	--color-on-primary-container: #{$color-on-primary-container};
	
	--color-secondary: #{$color-secondary};
	--color-on-secondary: #{$color-on-secondary};
	--color-secondary-container: #{$color-secondary-container};
	--color-on-secondary-container: #{$color-on-secondary-container};
	
	--color-tertiary: #{$color-tertiary};
	--color-on-tertiary: #{$color-on-tertiary};
	--color-tertiary-container: #{$color-tertiary-container};
	--color-on-tertiary-container:#{$color-on-tertiary-container};
	
	--color-error: #{$color-error};
	--color-on-error: #{$color-on-error};
	--color-error-container: #{$color-error-container};
	--color-on-error-container: #{$color-on-error-container};

	--surface-1: #{$surface-1};
	--surface-2: #{$surface-2};
	--surface-3: #{$surface-3};
	--surface-4: #{$surface-4};
	--surface-5: #{$surface-5};
}
